__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.env.local
.env.production
.git
.mypy_cache
.pytest_cache
.hypothesis
venv/
.venv/
node_modules/
.DS_Store
*.sqlite3
*.db
.idea/
.vscode/
*.log
coverage.xml
*.cover
.coverage
.tox